@page
@using HRM.UI.Models
@using HRM_UI.Models

<h2>Organization</h2>

@* @(Html.DevExtreme().DataGrid<OrganizationVM>()
    .ShowBorders(true)
    .DataSource(d => d.Mvc().Controller("Organizations").LoadAction("Get").Key("Id"))
    .Columns(columns => {
        columns.AddFor(m => m.Id);
        columns.AddFor(m => m.Name);
        columns.AddFor(m => m.Location);
        columns.AddFor(m => m.Description);
        columns.AddFor(m => m.IsActive);
    })
    .Paging(p => p.PageSize(10))
    .FilterRow(f => f.Visible(true))
    .HeaderFilter(f => f.Visible(true))
    .GroupPanel(p => p.Visible(true))
    .Grouping(g => g.AutoExpandAll(false))
    .RemoteOperations(true)
) *@

@(Html.DevExtreme().TreeList<OrganizationVM>()
    .ID("organizations")
    .DataSource(ds => ds.Mvc()
        .Controller("Organizations")
        .LoadAction("Get")
        .UpdateAction("Put")
        .InsertAction("Post")
        .DeleteAction("Delete")
        .Key("Id")
    )
    .KeyExpr("Id")
    .ParentIdExpr("ParentId")
    .ShowRowLines(true)
    .ShowBorders(true)
    .Editing(editing => editing
        .Form(f => f.ColCount(1).Items(items => {
          items.AddSimpleFor(m => m.Name);
          items.AddSimpleFor(m => m.Location);
          items.AddSimpleFor(m => m.Description);
          items.AddSimpleFor(m => m.IsActive);
          items.AddSimpleFor(m => m.ParentId).Editor(e => e
            .DropDownBox()
            .ValueExpr("Id")
            .DisplayExpr("Name")
            .ShowClearButton(true)
            .ContentTemplate(new TemplateName("ParentIdTemplate"))
            .OnInitialized(@<text>
                function(e){
                    if(e.component.option("value") == 0) {
                        e.component.option("value", null);
                    }
                }
            </text>)
            );
        }))
        .Mode(GridEditMode.Popup)
        .AllowUpdating(true)
        .AllowAdding(true)
        .AllowDeleting(true)
    )
    .Columns(columns =>
    {
      columns.AddFor(m => m.Name);

      columns.AddFor(m => m.Location);

      columns.AddFor(m => m.Description);

      columns.AddFor(m => m.IsActive);

      columns.AddFor(m => m.ParentId)
          .Width(150)
          .Visible(false)
          .Lookup(lookup => lookup
              .DataSource(ds => ds.Mvc().Controller("Organizations").LoadAction("Get").Key("Id"))
              .DataSourceOptions(dso => dso.Sort(sort => sort.AddSorting("Id")))
              .ValueExpr("Id")
              .DisplayExpr("Name")
          );
    })
    .ColumnAutoWidth(true)
    .AutoExpandAll(true)
)

@using (Html.DevExtreme().NamedTemplate("ParentIdTemplate"))
{
    @(Html.DevExtreme().TreeView()
        .DataSource(new JS(@"component.option('dataSource')"))
        .KeyExpr("Id")
        .DisplayExpr("Name")
        .ParentIdExpr("ParentId")
        .DataStructure(TreeViewDataStructure.Plain)
        .SelectionMode(NavSelectionMode.Single)
        .SelectByClick(true)
        .SearchEnabled(true)
        .SearchMode(CollectionSearchMode.Contains)
        .Height(250)
        .OnItemClick(@<text>
            function(args) {
                component.close();
            }
        </text>)
        .OnItemSelectionChanged(@<text>
            function(args) {
                component.option("value", args.component.getSelectedNodeKeys()[0]);
            }
        </text>)
        .OnContentReady(@<text>
            function(args) {
                args.component.selectItem(component.option('value'));
            }
        </text>)
    )
}